{% extends "common/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} Answer Open Questions | App {% endblock %}

{% block content %}
<div class="container">
    <h1>Open questions to answer!
        <div class="btn-group pull-right" role="group">
            <a role="button" class="btn btn-info" href="{% url 'dashboard' %}">Dashboard</a>
            <a role="button" class="btn btn-success" href="{% url 'ask' %}">Ask a Question</a>
        </div>
    </h1>
</div>

{% if open_questions %}
    <div class="container">
        <ul>
            {% for question in open_questions %}
                <li><a href="{% url 'question-details' question.id %}">{{ question.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<script src="{% static 'connect/js/script.js' %}"></script>

{% endblock %}