{% extends "common/base.html" %}
{% load staticfiles %}
{% block title %} {{ question.title }} | App {% endblock %}

{% block imports %}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
<link rel="stylesheet" href="{% static 'connect/css/styles.css'' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ question.title }}</h1>
    <p>{{ question.details }}</p>
</div>

<div class="container">
    <div style="height: 500px;" id="aww-wrapper">
    <!-- Element in which the whiteboard will be shown
                – modify style as needed -->
    </div>
</div>

<div class="container">
    <p class="lead"></p>
    <div role="group">
        <a role="button" class="btn btn-success" href="{% url 'solved' question.id %}">Solved!</a>
        <a role="button" class="btn btn-danger" href="{% url 'dashboard' %}">Unsolved</a>
    </div>
</div>

<script src="https://awwapp.com/static/widget/js/aww.min.js"></script>
<script type="text/javascript">
    var aww = new AwwBoard('#aww-wrapper', {
        apiKey: '554da190-5e90-439d-bfa2-76a2ec5ebf97',
        autoJoin: true,
        boardLink: 'TBoard-987', 
    });
    window.onbeforeunload = function() {
        aww.doClear();
    };
</script>

<!--<script src="{% static 'connect/js/script.js' %}"></script>-->
{% endblock %}